@charset "utf-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*内容*/
#contentCon{
	width:1200px;
	margin:auto;}
#contentCon>ul{
	width:1200px;
	margin:auto;
	margin-top:30px;
	overflow:hidden;}
#contentCon>ul>li{
	float:left;
	font-size:24px;
	color:#4c4c4c;}
#contentCon>ul>.right{
	float:right;
	font-size:18px;
	color:#4c4c4c;
	margin-left:10px;}
#contentCon>ul>.right>a{
	display:inline-block;
	width:65px;
	height:18px;
	//border-right:1px solid #d2d2d2;
	font-size:18px;
	color:#4c4c4c;
	text-align:center;
	line-height:18px;
	margin-right: 50px;
	}
#contentCon>ul>.right>a:hover{
	color:#fb0000;}
#contentCon>ul>.right>.pingjia{
	border:none;}
#contentCon>#show{
	overflow:hidden;
	margin-top:80px;
	}
#contentCon>#show>div{
	float:left;
	overflow:hidden;}
#contentCon>#show>div>ul{
	float:left;}
#contentCon>#show>div>ol{
	float:left;
	width:650px;
	height:550px;
	//background:url(../images/xiangqing_05.jpg) center no-repeat;
	margin-left:10px;}
#contentCon>#show>div>ol img{
	width: 100%;
	height: 100%;
}
#contentCon>#show>.right{
	margin-left:20px;}
#contentCon>#show>.right>p{
	font-size:24px;
	color:#4c4c4c;
	margin-left:20px;}
#contentCon>#show>.right>div{
	width:476px;
	height:160px;
	background:#eee;
	margin-top:20px;}
#contentCon>#show>.right>div>ul{
	overflow:hidden;
	padding-top:20px;
	}
#contentCon>#show>.right>div>ul>span{
	font-size:24px;
	color:#fb0000;
	float:left;
	margin:5px 10px 0 20px;}
#contentCon>#show>.right>div>ul>h2{
	font-size:30px;
	color:#fb0000;
	float:left;
	font-weight:normal;}
#contentCon>#show>.right>div>ul>p{
	font-size:14px;
	color:#4c4c4c;
	margin-left:18px;
	margin-top:14px;}
#contentCon>#show>.right>div>ol{
	margin-top:20px;
	margin-left:20px;
	overflow:hidden;}
#contentCon>#show>.right>div>ol>.tehui{
	display:inline-block;
	width:54px;
	height:26px;
	background:#fb0000;
	color:#fff;
	line-height:26px;
	text-align:center;
	font-size:18px;
	border-radius:4px;
	margin:0;}
#contentCon>#show>.right>div>ol>a{
	font-size:16px;
	color:#fb0000;
	margin-left:22px;}
#contentCon>#show>.right>div>li{
	overflow:hidden;
	margin-top:40px;
	margin-left:20px;}
#contentCon>#show>.right>div>li>p{
	float:left;
	font-size:16px;
	color:#4c4c4c;
	margin-right:24px;}
#contentCon>#show>.right>div>li>div{
	overflow:hidden;
	margin-left:22px;}
#contentCon>#show>.right>div>li>div>span{
	font-size:24px;
	color:#4c4c4c;
	float:left;
	margin-top:-13px;
	margin-right:5px;
	margin-left:8px;}
#contentCon>#show>.right>div>li>div>p{
	float:left;
	font-size:14px;
	color:#4c4c4c;}
#contentCon>#show>.right>ul{
	margin-top:28px;
	margin-left:18px;}
#contentCon>#show>.right>ul>li{
	overflow:hidden;
	background:none;
	width:360px;
	height:50px;
	margin-left:28px;
	}
#contentCon>#show>.right>ul>.check01{
	margin:0;
	overflow:hidden;}
#contentCon>#show>.right>ul>li>p{
	float:left;
	font-size:14px;
	color:#4c4c4c;
	margin-top:8px;}
#contentCon>#show>.right>ul>li>span{
	width:82px;
	height:32px;
	border:1px solid #d2d2d2;
	line-height:32px;
	text-align:center;
	color:#4c4c4c;
	font-size:14px;
	float:left;
	margin-left:20px;}
#contentCon>#show>.right>ul>ol{
	margin-top:20px;
	//width:160px;
	overflow:hidden;
	}
#contentCon>#show>.right>ul>ol>p{
	float:left;
	font-size:14px;
	color:#4c4c4c;
	margin-top:5px;
	margin-right:20px;}
#contentCon>#show>.right>ul>ol>span{
	float:left;
	height:32px;
	font-size:16px;
	color:#999;
	text-align:center;
	line-height:32px;
	}
#contentCon>#show>.right>ul>ol>input{
	float:left;
	width:32px;
	height:32px;
	outline:none;
	border-top:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
	border-left:none;
	border-right:none;
	color:#4c4c4c;
	padding-left:24px;
	font-size:14px;
	}
#contentCon>#show>.right>ul>a{
	float:left;
	margin-top:30px;}
#contentCon>#show>.right>ul>.buy{
	width:132px;
	height:40px;
	background:#fb0000;
	color:#fff;
	line-height:40px;
	text-align:center;
	font-size:18px;
	border-radius:8px;}
#contentCon>#show>.right>ul>.car{
	width:132px;
	height:40px;
	border:1px solid #fb0000;
	color:#fb0000;
	line-height:40px;
	text-align:center;
	font-size:18px;
	border-radius:8px;
	margin-left:20px;
	}
#contentCon>#show>.right>ul>.love{
	width:38px;
	height:38px;
	border:1px solid #d2d2d2;
	margin-left:20px;
	background:url(../images/hert.png) center no-repeat;}
#contentCon>#details{
	margin-top:90px;}
#contentCon>#details>ul{
	overflow:hidden;}
#contentCon>#details>ul>div{
	float:left;}
#contentCon>#details>ul>div>p{
	font-size:20px;
	color:#4c4c4c;}
#contentCon>#details>ul>div>span{
	display:block;
	width:60px;
	height:3px;
	background:#fb0000;}
#contentCon>#details>ul>p{
	font-size:24px;
	color:#fb0000;
	margin-left:10px;
	float:left;}
#contentCon>#details>ul>span{
	float:left;
	width:1020px;
	height:1px;
	background:#d2d2d2;
	margin-top:25px;
	margin-left:8px;}
#contentCon>#details>ol>li{
	overflow:hidden;
	width:1200px;
	height:76px;
	border-bottom:1px dotted #d7d7d7;
}

#contentCon>#details>ol>li>.text02{
	margin-left:364px;}
#contentCon>#details>ol>li>.text03{
	margin-left:200px;}
#contentCon>#details>ol>li>.text04{
	margin-left:272px;}
#contentCon>#details>ol>li>div>p{
	float:left;
	font-size:18px;
	color:#4c4c4c;
	line-height:80px;
	margin-right:40px;}
#contentCon>#details>ol>li>div>span{
	float:left;
	font-size:18px;
	color:#4c4c4c;
	line-height:80px;}
#contentCon>#details>ol>div{
	margin-top:24px;
	margin-left:236px;}
#contentCon>#details>ol>div>span{
	font-size:18px;
	color:#4c4c4c;
	display:block;}
#contentCon>#details>ol>div>p{
	font-size:18px;
	color:#4c4c4c;
	margin-top:15px;
	line-height:27px;}
#contentCon>#origin{
	margin-top:90px;}
#contentCon>#origin>ul{
	overflow:hidden;}
#contentCon>#origin>ul>div{
	float:left;}
#contentCon>#origin>ul>div>p{
	font-size:20px;
	color:#4c4c4c;}
#contentCon>#origin>ul>div>span{
	display:block;
	width:60px;
	height:3px;
	background:#fb0000;}
#contentCon>#origin>ul>p{
	font-size:24px;
	color:#fb0000;
	margin-left:10px;
	float:left;}
#contentCon>#origin>ul>span{
	float:left;
	width:1020px;
	height:1px;
	background:#d2d2d2;
	margin-top:25px;
	margin-left:8px;}
//图集
#contentCon>#origin>ol{
	overflow:hidden;
	margin-top:80px;
	margin-left:50px;}
#contentCon>#origin>ol li{
	//float:left;
	display: inline-block;
	width:600px;
	//height:600px;
	margin: 30px 200px;
	border: 1px solid #d2d2d2;
	border-radius: 4px;
	overflow: hidden;
	//background:url(../images/origin_03.jpg) center no-repeat;
}
#contentCon>#origin>ol>li>img{
	width: 100%;
}
#contentCon>#origin>ol>div{
	float:left;
	width:508px;
	height:288px;
	background:url(../images/origin02_03.jpg) center no-repeat;
	margin-top:140px;
	margin-left:40px;}
#contentCon>#origin>ol>div>p{
	font-size:16px;
	color:#4c4c4c;
	line-height:24px;
	margin-top:64px;
	margin-left:30px;}
